<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
	<title>消费辅助系统</title>

	<style>
		* {
			margin:0;
			padding:0;
		}

		.style1 {
			background-color: #000000CC;
			color: whitesmoke;
		}
	</style>
</head>


<body>
	<div class="container.fluid style1">
		<h1 style="margin:0;">消费辅助系统1.0</h1>
	</div>

	<div class="container p-5" style="font-size:25px;text-align:center;">
		<p>消费主义盛行地今天，越来越多人容易陷入消费陷阱，感性消费、盲目消费
			此系统目的：为用户的消费行为作辅助，帮助用户更好地理智消费。<br>
		</p>
		<a href="/login" class="btn btn-success" role="button">前往登录/注册</a>
	</div>

</body>
</html>